body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url('brbbg.jpg');
    background-position: center;
    background-size: cover;
}

.container {
    margin-top: 0; /* Remove the top margin */
}

h1 {
    color: #0979e9;
}

.text {
    color: #e9ebec;
    font-size: 17px;
}

.register-box {
    background: white;
    width: 700px; /* Increased width */
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #003366;
}

.form-row {
    display: flex;
    justify-content: space-between;
    gap: 10px; /* Added gap between inputs */
    margin-bottom: 10px; /* Added margin-bottom for spacing */
}

input {
    width: 45%; /* Adjusted width for side-by-side layout */
    padding: 10px;
    border: 1px solid #003366;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #003366;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0055b3;
}

.Login-link {
    margin-top: 10px;
}

.Login-link a {
    color: #003366;
    text-decoration: none;
    font-weight: bold;
}

.Login-link a:hover {
    text-decoration: underline;
}